services:
  app:
    image: ghcr.io/deadlici0us/jsonsortflow:latest
    container_name: jsonsortflow
    restart: unless-stopped
    ports:
      # This makes the app accessible on Port 80 for the user
      - "80:3000"
    volumes:
      - ./logs:/home/node/app/logs
    environment:
      # We tell your code to listen on 3000 inside the image
      - PORT_OUT=3000
      - LOGS_FILE_PATH=/home/node/app/logs/JSONSortFlow.log
      - MAX_ELEMENTS=100
      - TZ=America/Buenos_Aires
